  <mat-select [placeholder]="'tournaments' | translate" >
    <mat-option *ngFor="let tournament of tournaments" [value]="tournament.value">
      {{ tournament.viewValue }}
    </mat-option>
  </mat-select>

<div class="filter-header">
  <mat-form-field>
    <input  (keyup)="applyFilter($event.target.value)" matInput [placeholder]="'filter' | translate">
  </mat-form-field>
</div>

<div class="ranking-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="raking">
      <mat-header-cell *matHeaderCellDef> {{ 'raking' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.raking}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="P">
      <mat-header-cell *matHeaderCellDef> P </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.P}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="J">
      <mat-header-cell *matHeaderCellDef> J </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.J}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="V">
      <mat-header-cell *matHeaderCellDef> V </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.V}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="N">
      <mat-header-cell *matHeaderCellDef> N </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.N}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="D">
      <mat-header-cell *matHeaderCellDef> D </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.D}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="BP">
      <mat-header-cell *matHeaderCellDef> BP </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.BP}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="BC">
      <mat-header-cell *matHeaderCellDef> BC </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.BC}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DF">
      <mat-header-cell *matHeaderCellDef> DF </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DF}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="P_pourcent">
      <mat-header-cell *matHeaderCellDef> P% </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.P_pourcent}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[6, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
