@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$blue-ocf: #205081;
$box-shadow: rgb(36, 36, 36);
$grey:#a19f9f;
$black:#000000;



.containerHead {
  display: block;
  background-color: $blue-ocf;
}


.header {
  position: relative;
  display: block;
  min-height: 5.3em;
  width: 100%;
  background-color: $blue-ocf;
  z-index: 1000;
  box-shadow: 2px -1px 12px $box-shadow;
  -moz-box-shadow: 2px -1px 12px $box-shadow;
  -webkit-box-shadow: 2px -1px 12px $box-shadow;
  padding-bottom: 0.3em;

}

.logo {
  display: inline-block;
  margin: 1.188em 0em 0em 0.688em;
}

.separator {
  display: inline-block;
  width: 6.7em;
}

.containerSearch {
  display: inline-block;
}

.mainSearchBar {
  color: $grey;
  width: 18em;
}

.containerUserProfil {
  width: auto;
  height: auto;
  font-size: 0.9em;
  display: block;
  float: right;
  margin-right: 100px;
  margin-top: 0.9em;
}

.containerUserProfil .mat-icon-button{
  width: auto;
  height: auto;
  min-width:70px ;
}
.containerUserProfil .mat-icon {
  height: auto;
  width: auto;
}
.containerUserProfil .material-icons{
  font-size: 14px;
}
.containerUserProfil span {
  display: inline-block;
  vertical-align: bottom;
}
.cdk-overlay-pane {
  overflow: hidden !important;
  width: auto;
  color:$black;
}
#icoheader,.itemheader{
  display: inline-block;
  vertical-align: middle;
}
#icoheader{
  margin-right: 0.3em;
}

.userPicture {
  width: 4.375em;
  height: 4.375em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.userPicture img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

