<div class="containerHead">
  <div class="logo">
    <a>
      <img src="./assets/img/{{imgLogo}}" alt="logo" height="80" width="80"> </a>
  </div>
  <div class="separator"></div>
  <button mat-fab (click)="openLoginPopup()">
    <mat-icon>person</mat-icon>
  </button>

<!--  <div class="containerUserProfil">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>
      <span class="{{userPicture}}">
        <img src="./assets/img/picture.png" alt="user picture" height="64" width="64">
      </span>
      </mat-icon>
    </button>
    <mat-menu class="headerMenu" #menu="matMenu" yPosition="above">
      <button mat-menu-item>
        <span class="userName">{{userName}}</span>
      </button>
      <button mat-menu-item>
        <span class="userName">{{userMail}}</span>
      </button>
      <button mat-menu-item *ngFor="let menuItem of userMenuList">
        <i id="icoheader" class="material-icons">{{menuItem.icon}}</i>
        <span class="itemheader">{{menuItem.itemName}}</span>
      </button>
    </mat-menu>
  </div>-->
</div>
