<div class="containerHead">


  <div class="logo">
    <a>
      <img src="./assets/img/{{imgLogo}}" alt="logo" height="90" width="100"> </a>
  </div>

  <div class="separator"></div>


  <div class="containerUserProfil">

    <!--- IF USER IS LOG OUT --->
    <div *ngIf="loginState == false;else loginStateTrue ">
      <button mat-fab (click)="openLoginPopup()">
        <span>
        <mat-icon>home</mat-icon>
          </span>
      </button>
    </div>

    <!--- IF USER IS LOG IN --->
    <ng-template #loginStateTrue>


       <span class="badge"> 5 </span>
      <button mat-fab (click)="openLoginPopup()">
      <span>
        <mat-icon>notification_important</mat-icon>
      </span>
      </button>

      <div class="delimitor"></div>


      <button mat-fab [matMenuTriggerFor]="menu">
        <mat-icon>sentiment_very_satisfied</mat-icon>
      </button>

      <mat-menu class="headerMenu" #menu="matMenu" [overlapTrigger]="false" yPosition="below" >
        <button mat-menu-item *ngFor="let menuItem of userMenuList" (click)="prepareAndLogout()">
          <i id="icoheader" class="material-icons">{{menuItem.icon}}</i>
          <span class="itemheader">{{menuItem.itemName}}</span>
        </button>
      </mat-menu>
    </ng-template>

  </div>

</div>
